@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                About
                <small>It's Nice to Meet You!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img src="/Content/Images/737big.jpg" style="height: 450px; width: 750px" class="img-responsive">
        </div>
        <div class="col-md-6">
            <h2>Welcome to Aircraft Store</h2>
            <p>Thank you for affording us the time to introduce ourselves. Are we a great company? No... But will we hide it from you? No. So you will always have the transparence from us that you have come to expect from fake companies</p>
            <p>We thought to write some more mumbo jumbo here just so we can look more legit. The idea is that you order planes for free, but they never arrive at your doorstep. Cool eh? We are a passionate bunch that love technology and putting our new work out there into the field</p>
        </div>
    </div>
    <!-- Team Member Profiles -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>
        <div class="col-sm-4">
            <img src="/Content/Images/jj.jpg" style="height: 250px; width: 400px" class="img-responsive">
            <h3>
                JJ Baird
                <small>Head Honcho</small>
            </h3>
            <p>Sits around all day waiting for stuff to happen. Quite the odd ball</p>            
        </div>
        <div class="col-sm-4">
            <img src="/Content/Images/ruahnn.jpg" style="height: 250px; width: 400px" class="img-responsive">
            <h3>
                Ruhann Labuschagne
                <small>Lacky</small>
            </h3>
            <p>Does an excellent job at looking good and handing out pills</p>
        </div>
        <div class="col-sm-4">
            <img style="height: 250px; width: 400px" src="/Content/Images/jr.jpg" class="img-responsive">
            <h3>
                Rujay
                <small>The Team</small>
            </h3>
            <p>A fancy way to show that we are a team :)</p>
        </div>
    </div>
    <!-- Our Customers -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Our Customers</h2>
        </div>
        We would've shown them here if we had any, but hence this is our lot.
    </div>
</div>